<h2>FX Supermarket</h2>

  <div class="container-fluid">
      <div class="row">
        <div class="col-sm-9">
            <h3>SignUp</h3>
          <div class="row">
            <div class="col-md-offset-2 col-sm-4 box">
              <div>
                Customer?
              </div>
              <h5 class='pull-left'><%= link_to 'Sign In', new_customer_session_path, title: 'Sign in as Customer.' %></h5>
              <h5 class='pull-right'><%= link_to 'SignUp', new_customer_registration_path, title: 'SignUp for Customer.' %></h5>
            </div>
            <div class="col-md-offset-2 col-sm-4 box">
              <div>
                Vendor?
              </div>
              <h5 class='pull-left'><%= link_to 'Sign In', new_vendor_session_path, title: 'Sign in as Vendor.' %></h5>
              <h5 class='pull-right'><%= link_to 'SignUp', new_vendor_registration_path, title: 'SignUp for Vendor.' %></h5>
            </div>
          </div>
        </div>
      </div>
  </div>
