<h2>FX Supermarket</h2>

	<div class="container-fluid">
			<div class="row">
			  <div class="col-sm-9">
			    	<h3>SignUp</h3>
			    <div class="row">
			      <div class="col-xs-8 col-sm-6" data-toggle="modal" data-target=".bs-example-modal-sm">
			      	<h5>FX Customer?</h5>
			      </div>
			      <div class="col-xs-4 col-sm-6" data-toggle="modal" data-target=".bs-example-modal-sm">
			        <h5>FX Vendor?</h5>
			      </div>
			    </div>
			  </div>
			</div>
	</div>



<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      ...
    </div>
  </div>
</div>