
<div class="">
  <h3><%= "Welcome #{login_person.email}"%></h3>
</div>

<div id='recent_purchases'>
  <%= render 'customers/purchases/list' %>
</div>




<h2>Deals:<h2>

<%= render 'customers/search_form' %>

<br>

<div id='active_deals'>
  <%= render 'customers/deals_list' %>
</div>

<br>
