
<div class="">
  <h2><%= "Welcome #{login_person.email}"%></h2>
</div>


<div class="box">
  <div class="col-sm-3">
    <span><%= link_to 'Add New FX Deal', new_vendors_deal_path, title: 'Create new deal.' %></span>
  </div>
  <div class="col-sm-4">
    <span></span>
  </div>
  <div class="col-sm-4">
    <span></span>
  </div>
</div>
