
<div class="">
  <h2><%= "Welcome #{login_person.email}"%></h2>
</div>

Active Deals
<div id='deals_list'>
  <%= render 'vendors/deals/index' %>
</div>

<br>

<div class="box">
  <div class="col-sm-3">
    <span><%= link_to 'Add New FX Deal', new_vendors_deal_path, model_options.merge(title: 'Create new deal.') %></span>
  </div>
  <div class="col-sm-4">
    <span></span>
  </div>
  <div class="col-sm-4">
    <span></span>
  </div>
</div>
